footer.footer
  div.content.has-text-centered
    p
      | Powered by
      |
      a( href=project.url target="_blank")
        strong #{project.name} #{package.version}
script( type='text/javascript' src='/javascripts/jquery.min.js' )
script( type='text/javascript' src='/javascripts/form.js' )