footer.footer
  div.content.has-text-centered
    p
      a( href=project.url target="_blank")
        strong #{project.name} #{package.version}
      span.ml-1
        | licensed under
        |
        a( href= project.licenseURL target="_blank" ) #{package.license}
        | .
script( type='text/javascript' src='/javascripts/jquery.min.js' )
script( type='text/javascript' src='/javascripts/form.js' )